<!-- <body>
   <form>

   </form action="/index" , method="POST">
   <label for="username">username: </label>
   <input type="text" name="username" id="username">
   <label for="password">Password</label>
   <input type="password" id="pass" name="password" minlength="10">
   <input type="submit" value="Sign in">
</body> -->
<!DOCTYPE html>   
<html>

<head>
   <title>
      <%= title %>
   </title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
   <h1>
      <%= title %>
   </h1>
   <p>Welcome to <%= title %>
   </p>
</body>

</html>