html
html
   head
      title DANGKI
   body
      form(action = "/register", method = "POST")
         <div class="form-group col-5 col-form-label" style ="margin-left:50px;">
            label(for = "username") Username:
            input(name = "username")
         br
         <div class="form-group">
            label(for = "password") Password:
            input(name = "password" type="password" )
         br
         button(type = "submit" class="btn btn-primary my-1") ĐĂNG KÝ